.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar{
  background-color: #2196f3;
  height: 100vh;
}
.sidebar ul {
  padding: 0;
  margin:0;
  list-style: none;
}
.sidebar ul li {
  text-align: center;
  color: white;
  text-transform : capitalize;
  padding: 10px 35px;
}

.right-bar{
  padding: 10px 50px;
}

.UserInfo {
  background-color: #f44336;
  width: 500px;
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
  border: 1px solid red;
}